@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    
    font-family: 'Poppins', sans-serif;    
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    font-size: 14px;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7em;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4.5rem;
    color: var(--black);
}

.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom: 1rem; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--yellow);
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--light-yellow);
    color: var(--black);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--yellow);
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
}

.header .logo{
   width: 150px;
   height: 50px;
}
.header .logo img{
    width: 150px;
    height: 80px;
    border-radius: 4px;
    object-fit: cover;
 }

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color: var(--black);
}


.header .navbar a:hover{
    color: var(--yellow);
}

.header .btn{
    margin-top: 0;
}

.header #login-btn i{
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

#menu-btn{
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}


.header .active{
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}


.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(58, 56, 25, 0.685), #f3ba4075), url("/images/airplane-3702676_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
}
.homeBox{
    max-width: 800px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.homeBox h1{
    color: #ffffff;
    font-size: 50px;
}

.home_btn a{
  
    padding: 10px 25px;
    font-size: 18px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid var(--yellow);
    color: wheat;
    cursor: pointer;
    text-transform: capitalize;
    padding-top: 5px;
}

.homeBox p{
    color: rgb(255, 196, 0);
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}
.homeBox h1 span{
    color: rgb(255, 230, 0);
    font-size: 50px;
}
.homeBox button .id{
    margin-top: 20px;
    padding: 15px 40px;
    background-color: transparent;
    border: 2px solid rgb(255, 196, 0);
    color: #ffffff;
    font-size: 20px;
}
.home_btn a:hover{
    background-color: #f9d806;
}


.icon-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    background: #eee;
}

.icon-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2.5rem;
    background: #fff;
    box-shadow: var(--black);
    border-radius: 5rem;
}

.icon-container .icons i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background: #eee;
    color: var(--black);
    text-align: center;

}


.icon-container .icons .content h3{
    color: var(--yellow);
    font-size: 2.5rem;
}

.icon-container .icons .content p{
    color: var(--light-color);
    font-size: 1.5rem;
}

.icon-container .icons:hover{
    background: var(--black);
}

.icon-container .icons:hover i{
    background: var(--yellow);
}

.icon-container .icons:hover .content h3{
    color: #fff;
}

.icon-container .icons:hover .content p{
    color: #eee;
}

.services h1{
 text-align: center;
 color: #f9d806;
 font-weight: 700;
 margin-bottom: 20px;
}
.serviceCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #8080806b;
    padding: 10px;
    margin-top: 15px;
    background-color: #a09d9d10;
}
.serviceCard:hover{
    background-color:#f9d806;
}
.serviceCard i{
  font-size: 50px;
}

   .contactPage h1{
    text-align: center;
    color: #f9d806;
    font-weight: 700;
    margin-bottom: 20px;
   }
#exampleFormControlInput1{
    height: 35px;
    border: 1px solid grey
}

#exampleFormControlTextarea1{
    height: 100px;
    border: 1px solid grey;
}

.contact{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.877);
    padding: 100px 0px;
}
.contact h2{
    color: rgb(224, 133, 14);
    text-align: center;
}
.contact h2 span{
    height: 1px;
    width: 150px;
    background-color: rgb(224, 133, 14);
    display: inline-block;
    margin: 5px;
}
.contact_page{
    max-width: 1000px;
    margin: 0px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    padding: 0px 20px;
}
.contact_page form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(192, 192, 192, 0.719);
    padding: 20px;
   
}
.contact_page h3{
    text-align: start;
    color: wheat;
}
.contact_page h3 span{
    border-bottom: 2px solid rgb(252, 219, 158);
    padding-bottom: 4px;
}
.contact_page form input{
    width: 100%;
    height: 55px;
    margin-top: 10px ;
    border-radius: 4px;
    border: none;
    background-color: silver;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
}
.contact_page form input:focus{
    border: 1px solid red;
    background-color: white;
}
.contact_page form textarea{
    width: 100%;
    height: 180px;
    margin-top: 10px;
    border-radius: 4px;
    border:none ;
    outline: none;
    background-color: silver;
    font-size: 16px;
    padding-left: 10px;
    color: gray;
}
form textarea:focus{
    border: 1px solid red;
    background-color: white;
}
.contact_page button{
    width: 150px;
    padding: 15px;
    margin-top: 10px;
    background-color: silver;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(253, 233, 194);
    text-transform: capitalize;
    cursor: pointer;
    text-shadow: 2px 2px 2px black;
}
.contact_page button:hover{
    background-color: rgb(158, 157, 157);
}
.contact_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}
.linkWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.linkWrap i{
    color: antiquewhite;
    font-size: 25px;
    background-color: rgba(192, 192, 192, 0.719);
    padding: 13px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}
.linkWrap p{
    color: rgba(192, 192, 192, 0.719);
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
}
.contact_linkBox p{
    color: wheat;
}

/* .contactBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    background-color: rgba(0, 0, 0, 0.877);
}


.contactBtn button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid rgb(255, 196, 0);
    color: var(--black);
    font-size: 20px;
}

.contactBtn button:hover{
    background-color: #f9d806;
}
.contact_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}
.linkWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.linkWrap i{
    color: antiquewhite;
    font-size: 25px;
    background-color: rgba(192, 192, 192, 0.719);
    padding: 13px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}
.linkWrap p{
    color: rgba(192, 192, 192, 0.719);
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
}
.contact_linkBox p{
    color: rgb(245, 222, 179);
} */





























@media(max-width:991px){
    html{
        font-size: 55%;        
    }

    .header{
        padding: 2rem;
    }

    .header .active{        
        padding: 2rem;
    }

    section{
        padding: 2rem 9%;
    }
    
}





@media(max-width:768px){

    #menu-btn{       
        display: block;
    }

    #menu-btn .fa-times{
        transform: rotate(180deg);
    }

    .header #login-btn i{       
        display: block;
    }
    .header #login-btn .btn{       
        display: none;
    }

    .header .navbar{
        position: absolute;
        top: 99%; left:0; right: 0; 
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0100%)
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }

}






@media(max-width:450px){
    html{
        font-size: 50%;        
    }
}