@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  font-size: 14px;
}
.header {
  background-color: #f0a440;
  padding: 10px 0px;
}
.nav-item {
  margin: 0px 15px;
}
.navBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBtn button {
  padding: 12px 25px;
  border: 1px solid gray;
  border-radius: 4px;
}
.navBtn button:hover {
  background-color: antiquewhite;
}

#homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #5f5151e4, #9f9b9b5d),
    url("./images/07.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.homeBox {
  max-width: 800px;
}
.homeBox h1 {
  color: antiquewhite;
  font-weight: 700;
}
.homeBox p {
  color: #fac682;
  font-weight: 600;
}
.homeBox button {
  padding: 10px 40px;
  border: 1px solid;
  background-color: #f0a440;
  border: none;
  color: antiquewhite;
  border-radius: 4px;
}

#aboutContainer {
  margin-top: 20px;
}
#aboutContainer h2 {
  color: #f0a440;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
#aboutCard {
  margin-bottom: 20px;
}
#aboutCard h4 {
  text-align: start;
  font-weight: 400;
  color: grey;
  font-weight: 700;
}
#aboutCard button {
  padding: 8px 25px;
  background-color: #f0a440;
  border-radius: 4px;
}
#aboutCard button:hover {
  color: antiquewhite;
}
#aboutCard img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#services {
  margin-top: 20px;
}
#services h2 {
  color: #f0a440;
  font-weight: 700;
  text-align: center;
}
#serviceCard {
  border: 1px solid #80808072;
  padding: 10px;
  border-radius: 4px;
  height: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#serviceCard:hover {
  background-color: #fac682;
}
#serviceCard i {
  text-align: center;
  font-size: 50px;
  color: #f0a440;
}
#serviceCard h5 {
  text-align: center;
  color: grey;
  margin-top: 10px;
}

.gallery {
  margin-top: 20px;
}
#galleryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#galleryCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}
#galleryCard img:hover {
  filter: brightness(50%);
}
#contactPage {
  margin-top: 20px;
  margin-bottom: 20px;
}
#contactPage h2 {
  color: #f0a440;
  font-weight: 700;
  text-align: center;
}
.form-control {
  border: 1px solid #f0a440;
  border-radius: 0px;
}
#contactForm button {
  width: 100%;
  border: none;
  background-color: #f0a440;
  color: antiquewhite;
  padding: 8px 0px;
}
#contactCardBox {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  background-color: #f0a440;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
#contactCardBoxWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contactCardBoxWrap p {
  color: grey;
}
#contactCardBoxWrap i {
  color: grey;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid antiquewhite;
  font-size: 18px;
  margin-right: 10px;
}
.footer{
    background-color: #f0a440;
    padding-top: 50px;
}

#footerCard h4{
    color: gray;
    font-weight: 700;
    margin-bottom: 20px;
}
#footerCard p{
    line-height: 2.5rem;
}
#footerCard ul li{
    margin-top: 15px;
    list-style: none;
}
#footerCard ul li a{
    text-decoration: none;
    color: black;
}
#footerRightCard{
    border-top: 1px solid #808080be;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-top: 20px;
}
#footerRightCard p{
    color: grey;
}